.menu_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  transition: transform 0.3s ease;
  background: theme('colors.gray.600');
  overflow-y: auto;
  z-index: 1000;
}

.subtitle {
  font-size: 1.4rem;
  color: theme('colors.gray.700');
  text-transform: uppercase;
}

.menu_container.closed {
  transform: translateX(-100%);
}

.close_button,
.open_button {
  right: 2rem;
  top: 2.9rem;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.close_button i {
  background: url('/close.png');
}

.open_button i {
  background: url('/menu-aberto.png');
}

.close_button i,
.open_button i {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 2rem;
  height: 2rem;
  z-index: 1;
}

.close_button:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: theme('colors.gray.700');
  border-radius: 50%;
  opacity: .5;
  width: 40px;
  height: 40px;
  z-index: -1;
}

.open_button:hover::before {
  content: '';
  position: absolute;
  background: theme('colors.gray.700');
  border-radius: 50%;
  opacity: .5;
  width: 40px;
  height: 40px;
  z-index: -1;
}

.logout {
  background: theme('colors.gray.400');
  width: 100%;
  height: 48px;
  border-radius: 24px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.logout p {
  color: #181818;
  font-size: 1.4rem;
}