@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-size: 12px;
  background: theme('colors.black.800');
}

button {
  outline: none;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: none;
  border-color: #e5e7eb;
}
