@tailwind base;
@tailwind components;
@tailwind utilities;

.paragraph1 {
  font-size: 2rem;
  color: #ffffff;
}

.subtext {
  font-size: 1.4rem;
  color: #acacac;
  opacity: .5;
}

.todo {
  font-size: 1.4rem;
  font-weight: 500;
  color: theme('colors.gray.400');
}

.todo a {
  color: theme('colors.teal');
  text-decoration: underline;
}

.todo_flag {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  height: 1.8rem;

  background: theme('colors.teal');
  width: 3.8rem;
  border-radius: 0.8rem;
  padding: 0.2rem 0.6rem;
  margin-right: 1rem;
}